/****************************/
/***** Global Variables *****/
/****************************/
:root {
	--theme-color: cyan;
	--p-fontsize: 18px;
	--p-line-height: 1.5;
	--background-color: #f6f6f6;
}

/************************/
/***** Global Rules *****/
/************************/
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: "Work Sans", sans-serif;
}

.container {
	margin: 0 auto 0 auto;
	padding: 0 10px 0 10px;
}
/* small screens */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* medium screens */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* large screens */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/******************/
/***** Header *****/
/******************/

.header {
	padding: 15px;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo {
	width: 60px;
}
/* relative container to give children absolute pos */
.header .nav {
	position: relative;
}
/* styling burger icon */
.header .nav .burger-icon {
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.header .nav .burger-icon span {
	background-color: #333;
	margin-bottom: 5px;
	height: 2px;
}

.header .nav .burger-icon span:first-child {
	width: 100%;
}

.header .nav .burger-icon span:nth-child(2) {
	width: 60%;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}
/* increasing the length of the burger second line on hover */
.header .nav:hover .burger-icon span:nth-child(2) {
	width: 100%;
}

.header .nav .burger-icon span:last-child {
	width: 100%;
}
/* styling the links container and hiding it */
.header .nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	min-width: 200px;
	background-color: var(--background-color);
	display: none;
	z-index: 1;
}
/* showing the links on hover */
.header .nav:hover ul {
	display: block;
}
/* adding the triangle over the links box */
.header .nav ul::before {
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent var(--background-color) transparent;
	position: absolute;
	top: -20px;
	right: 5px;
}
/* links styling */
.header .nav ul a {
	text-decoration: none;
	display: block;
	padding: 10px;
	color: #333;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
/* link moving effect on hovering */
.header .nav ul a:hover {
	padding-left: 20px;
}
/* adding separators between links */
.header .nav ul li:not(:last-child) a {
	border-bottom: 1px solid #ddd;
}

/*******************/
/***** Landing *****/
/*******************/

.landing {
	background-image: url("../images/landing.jpg");
	background-size: cover;
	height: calc(100vh - 54px);
	position: relative;
}

/* centering landing content in whole screen using top/left positioning  */
.landing .landing-text {
	text-align: center;
	width: 320px;
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

/* landing heading */
.landing .landing-text h1 {
	margin: 0;
	font-weight: bold;
	font-size: 60px;
	color: var(--theme-color);
}

/* landing text */
.landing .landing-text p {
	font-size: var(--p-fontsize);
	line-height: var(--p-line-height);
}

/********************/
/***** Features *****/
/********************/

.features {
	padding: 60px 0;
	background-color: var(--background-color);
}

/* features container grid */
.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}

/* feature */
.features .feat {
	padding: 20px;
	text-align: center;
}

/* feature icon */
.features .feat i {
	color: var(--theme-color);
}

/* feature heading */
.features .feat h3 {
	font-weight: 800;
	margin: 30px 0;
}

/* feature text */
.features .feat p {
	font-size: var(--p-fontsize);
	line-height: var(--p-line-height);
	color: #777;
}
