/****************************/
/***** Global Variables *****/
/****************************/
:root {
	--main-theme-color: cyan;
	--secondary-theme-color: #2c4755;
	--section-padding: 60px 0;
	--p-font-size: 18px;
	--p-line-height: 1.5;
	--p-font-color: #777;
	--p-font-weight: 300;
	--background-color: #f6f6f6;
	--grid-gap: 20px;
}

/************************/
/***** Global Rules *****/
/************************/
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Work Sans", sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
}
/* small screens */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* medium screens */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* large screens */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/**********************/
/***** Components *****/
/**********************/
/* These will be used in more than one place/section */

/* special heading */

.special-heading {
	color: #ddd;
	font-size: 100px;
	font-weight: 800;
	letter-spacing: -4px;
	margin: 0;
	text-align: center;
}

.special-heading + p {
	margin-top: -30px;
	font-size: var(--p-font-size);
	text-align: center;
	color: #ccc;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
	gap: var(--grid-gap);
}

/* control style on small screens */
@media (max-width: 767px) {
	.special-heading {
		font-size: 60px;
	}

	.special-heading + p {
		margin-top: -20px;
	}
}

/******************/
/***** Header *****/
/******************/

.header {
	padding: 15px;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo {
	width: 60px;
}
/* relative container to give children absolute pos */
.header .nav {
	position: relative;
}
/* styling burger icon */
.header .nav .burger-icon {
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.header .nav .burger-icon span {
	background-color: #333;
	margin-bottom: 5px;
	height: 2px;
}

.header .nav .burger-icon span:first-child {
	width: 100%;
}

.header .nav .burger-icon span:nth-child(2) {
	width: 60%;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}
/* increasing the length of the burger second line on hover */
.header .nav:hover .burger-icon span:nth-child(2) {
	width: 100%;
}

.header .nav .burger-icon span:last-child {
	width: 100%;
}
/* styling the links container and hiding it */
.header .nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	min-width: 200px;
	background-color: var(--background-color);
	display: none;
	z-index: 1;
}
/* showing the links on hover */
.header .nav:hover ul {
	display: block;
}
/* adding the triangle over the links box */
.header .nav ul::before {
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent var(--background-color) transparent;
	position: absolute;
	top: -20px;
	right: 5px;
}
/* links styling */
.header .nav ul a {
	text-decoration: none;
	display: block;
	padding: 10px;
	color: #333;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
/* link moving effect on hovering */
.header .nav ul a:hover {
	padding-left: 20px;
}
/* adding separators between links */
.header .nav ul li:not(:last-child) a {
	border-bottom: 1px solid #ddd;
}

/*******************/
/***** Landing *****/
/*******************/

.landing {
	background-image: url("../images/landing.jpg");
	background-size: cover;
	height: calc(100vh - 54px);
	position: relative;
}

/* centering landing content in whole screen using top/left positioning  */
.landing .landing-text {
	text-align: center;
	width: 320px;
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

/* landing heading */
.landing .landing-text h1 {
	margin: 0;
	font-weight: bold;
	font-size: 60px;
	color: var(--main-theme-color);
}

/* landing text */
.landing .landing-text p {
	font-size: var(--p-font-size);
	line-height: var(--p-line-height);
}

/********************/
/***** Features *****/
/********************/

.features {
	padding: var(--section-padding);
	background-color: var(--background-color);
}

/* feature */
.features .feat {
	padding: 20px;
	text-align: center;
}

/* feature icon */
.features .feat i {
	color: var(--main-theme-color);
}

/* feature heading */
.features .feat h3 {
	font-weight: 800;
	margin: 30px 0;
}

/* feature text */
.features .feat p {
	font-size: var(--p-font-size);
	line-height: var(--p-line-height);
	color: var(--p-font-color);
	font-weight: var(--p-font-weight);
}

/********************/
/***** Services *****/
/********************/

.services {
	padding: var(--section-padding);
}

.services .services-content {
	margin-top: 100px;
}

.services .services-content .serv {
	display: flex;
	margin-bottom: 40px;
}

@media (max-width: 767px) {
	.services .services-content .serv {
		flex-direction: column;
		text-align: center;
	}
}

/* service icon and min size*/
.services .services-content .serv i {
	color: var(--main-theme-color);
	flex-basis: 60px;
}

/* service h+p taking rest of box*/
.services .services-content .serv .serv-text {
	flex: 1;
}

/* service heading */
.services .services-content .serv .serv-text h3 {
	margin: 0 0 20px;
}

/* service text */
.services .services-content .serv .serv-text p {
	font-size: var(--p-font-size);
	line-height: var(--p-line-height);
	color: var(--p-font-color);
	font-weight: var(--p-font-weight);
}

/* service image div */
.services .services-content .image {
	text-align: center;
	position: relative;
}

/* service image */
.services .services-content .image img {
	width: 260px;
}

/* service rectangle behind image */
.services .services-content .image::before {
	content: "";
	background-color: var(--secondary-theme-color);
	width: 100px;
	height: calc(100% + 80px);
	position: absolute;
	top: -40px;
	right: 0;
	z-index: -1;
}

/* hiding the image if it is gonna be alone in a row */
@media (max-width: 1199px) {
	.services-content .services-col:last-child {
		display: none;
	}
}

/*********************/
/***** Portfolio *****/
/*********************/

.portfolio {
	padding: var(--section-padding);
	background-color: var(--background-color);
}

.portfolio .portfolio-content {
	margin-top: 100px;
}

/* portfolio card/project */
.portfolio .portfolio-content .card {
	background-color: white;
}

/* portfolio card/project image */
.portfolio .portfolio-content .card img {
	max-width: 100%;
}

/* portfolio card/project text content */
.portfolio .portfolio-content .card .project-info {
	padding: 20px;
}

/* portfolio card/project heading*/
.portfolio .portfolio-content .card .project-info h3 {
	margin: 0;
}

/* portfolio card/project paragraph*/
.portfolio .portfolio-content .card .project-info p {
	font-size: var(--p-font-size);
	line-height: var(--p-line-height);
	color: var(--p-font-color);
	font-weight: var(--p-font-weight);
}

/* centering text for small screens */
@media (max-width: 767px) {
	.portfolio .portfolio-content .card {
		text-align: center;
	}
}

/*****************/
/***** about *****/
/*****************/

.about {
	padding: var(--section-padding);
}

.about .about-content {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* about image div */
.about .about-content .image {
	position: relative;
	width: 250px;
	height: 375px;
}

/* about image */
.about .about-content .image img {
	max-width: 100%;
}

/* image before/after shapes */
.about .about-content .image::before {
	content: "";
	background-color: #ccc;
	width: 100px;
	height: calc(100% + 80px);
	position: absolute;
	top: -40px;
	left: -20px;
	z-index: -1;
}

.about .about-content .image::after {
	content: "";
	width: 120px;
	height: calc(100% - 80px);
	position: absolute;
	border-left: 80px solid var(--main-theme-color);
	border-bottom: 80px solid var(--main-theme-color);
	top: -40px;
	right: -150px;
	z-index: -1;
}

/* text part of the about */
.about .about-content .about-info {
	flex-basis: calc(100% - 450px);
}

.about .about-content .about-info p:first-of-type {
	line-height: var(--p-line-height);
	font-weight: bold;
	margin-bottom: 50px;
}

.about .about-content .about-info hr {
	width: 50%;
	display: inline-block;
	border-color: var(--main-theme-color);
}

.about .about-content .about-info p:last-of-type {
	font-size: var(--p-font-size);
	line-height: var(--p-line-height);
	color: var(--p-font-color);
	font-weight: var(--p-font-weight);
	margin-top: 50px;
}

/* column direction and centering text for medium and small screens */
/* hiding the before/after of the image */
/* centering the image */
@media (max-width: 991px) {
	.about .about-content {
		flex-direction: column;
		text-align: center;
	}

	.about .about-content .image::before,
	.about .about-content .image::after {
		display: none;
	}

	.about .about-content .image {
		margin: 0 auto 60px;
	}
}

/*******************/
/***** contact *****/
/*******************/

.contact {
	padding: var(--section-padding);
	background-color: var(--background-color);
}

.contact .contact-content {
	padding: var(--section-padding);
	text-align: center;
}

.contact .contact-content .label {
	font-size: 40px;
	font-weight: 800;
	color: var(--secondary-theme-color);
	margin-bottom: 20px;
}

.contact .contact-content .link {
	display: block;
	font-size: 30px;
	font-weight: 700;
	color: var(--main-theme-color);
	margin-bottom: 20px;
	text-decoration: none;
}

.contact .contact-content .social-media {
	display: flex;
	justify-content: center;
}

.contact .contact-content .social-media i {
	margin-left: 10px;
	color: var(--secondary-theme-color);
}

@media (max-width: 767px) {
	.contact .contact-content .label,
	.contact .contact-content .link {
		font-size: 25px;
	}
}

/******************/
/***** footer *****/
/******************/

.footer {
	background-color: var(--secondary-theme-color);
	color: white;
	padding: 20px;
	text-align: center;
	font-size: 18px;
}

.footer span {
	color: var(--main-theme-color);
}
